body {
  background-color: orange;
}

.fondo-nav {
  background-image: url(/assets/img/fondotitulo2.jpg);
  background-size: cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  color: white;
}

.texto {
  float: center;
  width: 100%;
  background: orange;
  color: white;
  font-size: 20px;
}

.video {
  text-align: center;
  color: rgb(252, 252, 250);
  font-weight: bold;
}

footer {
  text-align: center;
  background-image: url(/assets/img/Fondo.jpg);
  background-position: 50%;
}

.fotter p {
  margin-bottom: 20px;
  font-style: solid;
  color: black;
  font-size: 28px;
}

footer i {
  color: darkred;
  font-size: 35px;
  letter-spacing: 20px;
}

.redes {
  text-align: center;
}

.somos {
  min-height: 80px;
  width: 100%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.somos p {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.mision {
  min-height: 200px;
  float: left;
  width: 49%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.mision h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mision p {
  font-size: 20px;
  padding-left: 5px;
}

.vision {
  min-height: 200px;
  float: right;
  width: 49%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding-right: 15px;
}

.vision h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.vision p {
  font-size: 20px;
}

.valores {
  height: 450px;
  width: 100%;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  padding-right: 45px;
  padding-left: 25px;
}

.valores h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 12px;
  padding-left: 12px;
}

.valores p {
  font-size: 20px;
}

.consejos {
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  padding-left: 65px;
  padding-right: 30px;
}

.consejos h1 {
  text-align: center;
  padding-top: 15px;
  width: 100%;
}

p {
  text-align: justify;
}

.recomendacion {
  font-size: 20px;
  text-align: center;
  font-family: fantasy;
}

.caja {
  padding-top: 10px;
  min-height: 600px;
  width: 100%;
  text-align: center;
}

.recomendacion h3 {
  text-align: center;
  text-decoration: solid;
}

.masinformacion h1 {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.cajas {
  min-height: 150px;
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

h2 {
  padding-top: 20px;
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 25px;
}

.carousel-inner {
  align-items: center;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

h5 {
  text-align: center;
  color: black;
  font-size: 22px;
}

p {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media only screen and (min-windth: 600px) and (max-width: 767px) {
  .galeria {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
    text-align: center;
  }
  .img1 {
    grid-column: 1/3;
  }
  .img2 {
    grid-column: 2/3;
  }
  .img3 {
    grid-column: 3/3;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: orange;
  font-size: medium;
  font-size: 16px;
}

.h1 {
  margin-bottom: 20px;
}

.contenedor {
  width: 100%;
  max-width: 1000px;
  background: white;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px black;
  border-radius: 20px;
  box-sizing: border-box;
}

.contenedor h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: black;
}

.contenido {
  width: 100%;
  overflow: hidden;
}

.contenido .info,
.contenido, formulario {
  width: 100%;
}

.info {
  padding-left: 10px;
}

.info .col {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  align-items: center;
  flex-wrap: nowrap;
}

.info .col .icono {
  color: green;
  margin-right: 10px;
}

.info .col p {
  color: #999;
}

.formulario input[type=text],
.formulario textarea {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 1px solid #999;
  color: #999;
  font-weight: 400;
  outline: 0;
  align-content: right;
}

.formulario textarea {
  max-width: 100%;
  min-height: 150px;
  max-height: 200px;
}

.formulario input[type=text]:focus,
.formulario textarea:focus {
  border: 1px solid #15cf8A;
}

.formulario button {
  padding: 12px 38px;
  border: transparent;
  background: #15cf8A;
  color: #fff;
  cursor: pointer;
  float: right;
}

/*# sourceMappingURL=estilos.css.map */
