.consejos{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    padding-left: 65px;
    padding-right: 30px;
}
.consejos h1{
    text-align: center;
    padding-top: 15px;
    width: 100%; 
}
p{
  text-align: justify;
}