footer{
    text-align: center;
    background-image: url(/assets/img/Fondo.jpg);
    background-position: 50%;
}
.fotter p{
    margin-bottom: 20px;
    font-style: solid;
    color: black;
    font-size: 28px;
}
footer i{
    color: darkred;
    font-size: 35px;
    letter-spacing: 20px;
}
.redes{
    text-align: center;
}   