footer{
    text-align: center;
    font-size: 25px;
}
.fotter p{
    margin-bottom: 20px;
}
footer i{
    color: darkred;
    font-size: 35px;
    letter-spacing: 20px;
}
.redes{
    text-align: center;
}   