body{
    background-color: orange;
}
.fondo-nav{
    background-image: url(/assets/img/fondotitulo.jpg);
    background-size: cover;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: white;
}
.texto{
    float: center;
    width: 100%;
    background: orange;
    color: white;
}
.video{
    text-align: center;
    color: rgb(252, 252, 250);
    font-weight: bold;
}
footer{
    text-align: center;
    font-size: 25px;
}
.fotter p{
    margin-bottom: 20px;
}
footer i{
    color: darkred;
    font-size: 35px;
    letter-spacing: 20px;
}
.redes{
    text-align: center;
}
.somos{
    min-height: 90px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: solid;
}
.mision{
    min-height: 200px;
    float: left;
    width: 49%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.mision h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.vision{
    min-height: 200px;
    float: right;
    width: 49%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.vision h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.valores{
    height: 450px;
    width: 100%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}
.valores h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.consejos{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}
.consejos h1{
    text-align: center;
}
.recomendacion{
    font-size: 20px;
    text-align: center;
    font-family: fantasy;
}
.caja{
    padding-top: 10px;
    min-height: 600px;
    width: 100%;
    text-align: center;
}
.recomendacion h3{
    text-align: center;
    text-decoration: solid;
}
.masinformacion h1{
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.cajas{
    min-height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}
.galeria{
    height:auto;
    width: 100%;
    background-color: coral;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
.img{
    border: 2px solid #fff0;
    height:400px;
}
.img1{
    background-image: url(/assets/img/fondopizzamasaavena.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.img2{
    background-image: url(/assets/img/hamburguesadeatun1170x658.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
}    
.img3{
    background-image: url(/assets/img/pechucadepollo960x658.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
@media only screen and (min-windth:600px) and (max-width:767px) {
    .galeria{
        display: grid;
        grid-template-columns: (3, 1fr);
        grid-template-rows: 250px 250px 250px;
        gap: 20px;
        text-align: center;
    }
.img1{
    grid-column: 1/3;
}
.img2{
    grid-column: 2/3;
}
.img3{
    grid-column: 3/3;
}
}
.contacto{
    text-align: center;
}
.contacto h1{
    padding-top: 20px;
    width:100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contacto h3{
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.mapa{
    text-align: center;
}
